# OPERACIONES MATEMATICAS

In [1]:
#OPERACION DE SUMA
10+5

15

In [2]:
#operacion de resta
10-5

5

In [3]:
#operacion de multiplicacion 
4*5

20

In [4]:
#operacion de division 
300/10

30.0

In [5]:
#modulo de la operacion 
7%2

1

# Tipos de datos

In [6]:
#datos numericos 
167

167

In [7]:
#datos de tipo real 
432.65

432.65

# Operaciones

In [8]:
#varias operaciones
54-23+2*100

231

In [9]:
#potencia
4**3

64

In [10]:
#raiz cuadrada
25**(1/2)

5.0

# Repaso

#### Calcular el valor de una factura de parqueadero, conociendo la placa del vehiculo, los minutos del uso del parqueadero y el valor de la hora.

In [10]:
placa="TUM49D"
minutos=90
valor_hora=2000

In [11]:
# realizar calculos
total=minutos*valor_hora

In [12]:
print("el valor a pagar es:",total)

el valor a pagar es: 180000

In [22]:
print("El vehiculo de placa:"+placa +" \nDebe pagar:",total)

El vehiculo de placa:TUM49D
Debe pagar: 180000